* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 30);
}

main {
  border-bottom: 2px solid var(--gron6);
  margin: 0 auto;
  width: 100vw;
}

.def > section:nth-child(1) {
  width: 5rem;
}

.def > section:nth-child(1)::after {
  background: var(--gron3);
  border: 2px solid var(--gron1);
  border-bottom: none;
  content: '';
  display: block;
  margin-right: 2rem;
  order: 2;
}

.def > section:nth-child(2) {
  width: 14rem;
}

.def > section:nth-child(2)::after {
  background: var(--gron3);
  border: 2px solid var(--gron5);
  border-bottom: none;
  content: '';
  display: block;
  margin-right: 2rem;
  order: 2;
}

section.o {
  align-items: center;
  display: flex;
  flex-direction: column;
}

section.o > article {
  display: flex;
  height: 3rem;
  line-height: 3rem;
}

section.o > h1 {
  background: #ffd966;
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 28rem;
}

section.o > h1::after {
  background: black;
  content: '';
  display: block;
  width: 2rem;
}

section.o > article > * {
  border: 2px solid var(--gron5);
  border-right: 0;
  border-bottom: 0;
}

section.o > article::before {
  background: var(--gron3);
  border: 2px solid var(--gron5);
  border-bottom: none;
  content: '';
  display: block;
  margin-right: 2rem;
  order: 2;
  width: 1rem;
}

section.o > article::after {
  background: var(--gron1);
  border: 2px solid var(--gron5);
  border-bottom: none;
  content: '';
  display: block;
  margin-right: 2rem;
  order: 5;
  width: 1rem;
}

section.o > article > h1 {
  border-color: var(--gron5);
  border-width: 2px 0 0 2px;
  font-size: 32pt;
  order: 1;
  padding: 0 1rem;
  text-align: center;
  width: 5rem;
}

section.o > article > h2 {
  background: var(--gron2);
  color: var(--gron6);
  font-size: 24pt;
  order: 4;
  padding-left: 0.5rem;
  width: 14rem;
}

section.o > article > h3 {
  background: var(--gron2);
  order: 3;
  width: 1rem;
}

section.o > article > h4 {
  background: var(--gron2);
  cursor: pointer;
  flex-shrink: 0;
  order: 5;
  padding: 0;
  text-align: center;
  user-select: none;
  width: 2rem;
}

section.o > article > h4:active + h2 {
  background: var(--gron1) !important;
  color: black;
}

section.o > article:nth-child(1):hover + article:nth-child(4) {
  background: var(--gron1) !important;
  color: black;
}

article:nth-child(1)::after {
  background: blue;
  height: 6rem;
  z-index: 2;
}

section.o > article:nth-child(6n + 1) > :is(h1, h3),
section.o > article:nth-child(6n + 2) > :is(h1, h3),
section.o > article:nth-child(6n + 3) > :is(h1, h3) {
  background: var(--gron2);
}
section.o > article:nth-child(6n + 4) > :is(h1, h3),
section.o > article:nth-child(6n + 5) > :is(h1, h3),
section.o > article:nth-child(6n + 6) > :is(h1, h3) {
  background: var(--cyan2);
}
section.o > article:nth-child(6n + 1) > :is(h2),
section.o > article:nth-child(6n + 2) > :is(h2),
section.o > article:nth-child(6n + 3) > :is(h2) {
  background: var(--gron2);
}
section.o > article:nth-child(6n + 4) > :is(h2),
section.o > article:nth-child(6n + 5) > :is(h2),
section.o > article:nth-child(6n + 6) > :is(h2) {
  background: var(--cyan1);
}

section.o > article > h6:nth-of-type(1) {
  background: var(--gron3);
  order: 2;
}
section.o > article > h6:nth-of-type(2) {
  background: var(--gron1);
  order: 5;
}

/*
* {
  box-sizing: border-box;
}
*/

html {
  font-size: calc(100vw / 30);
}

.w h1,
h2,
h3,
h4,
h5,
h6 {
  border: 2px solid var(--gron6);
  border-width: 2px 0 0 2px;
  display: flex;
  flex-shrink: 0;
}

.w > article {
  display: flex;
  flex-shrink: 0;
}

.w > article > h1 {
  background: var(--gron2);
  display: block;
  height: 40px;
  line-height: 40px;
  margin-right: 2rem;
  order: 1;
  text-align: center;
  width: 100px;
}

.w > article > h2 {
  background: var(--gron2);
  display: block;
  height: 40px;
  line-height: 40px;
  order: 3;
  padding: 0 0.5rem;
  width: 18rem;
}

.w > article > h3 {
  background: var(--gron2);
  box-shadow: 1px 0 0 0 var(--gron6), 25px 0 0 0 var(--gron3),
    26px 0 0 0 var(--gron6);
  display: block;
  height: 40px;
  line-height: 40px;
  order: 2;
  width: 30px;
}

.w > article > h4 {
  background: var(--gron2);
  box-shadow: 1px 0 0 0 var(--gron6), 25px 0 0 0 var(--gron1),
    26px 0 0 0 var(--gron6);
  display: block;
  height: 40px;
  line-height: 40px;
  order: 4;
  position: relative;
  width: 30px;
}

.w > article > h4::after {
  background-color: var(--gron1);
  border: 2px solid var(--gron6);
  border-width: 2px 0 0 2px;
  content: '';
  width: 1rem;
  position: absolute;
  left: 30px;
  top: -2px;
  bottom: 0;
}

.w > article:nth-child(6n + 1) > :is(h1, h3),
.w > article:nth-child(6n + 2) > :is(h1, h3),
.w > article:nth-child(6n + 3) > :is(h1, h3) {
  background: var(--gron2);
  border-right: 2px solid var(--gron5);
  box-shadow: 25px 1px 0 -1px var(--gron3), 26px 0 0 0 var(--gron6);
}
.w > article:nth-child(6n + 4) > :is(h1, h3),
.w > article:nth-child(6n + 5) > :is(h1, h3),
.w > article:nth-child(6n + 6) > :is(h1, h3) {
  background: var(--cyan2);
  border-right: 2px solid var(--cyan5);
  box-shadow: 25px 1px 0 -1px var(--cyan3), 26px 0 0 0 var(--cyan6);
}
.w > article:nth-child(6n + 1) > :is(h2),
.w > article:nth-child(6n + 2) > :is(h2),
.w > article:nth-child(6n + 3) > :is(h2) {
  background: var(--gron2);
}
.w > article:nth-child(6n + 4) > :is(h2),
.w > article:nth-child(6n + 5) > :is(h2),
.w > article:nth-child(6n + 6) > :is(h2) {
  background: var(--cyan1);
}
