* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 20);
}

main {
  border-bottom: 2px solid black;
  margin: 2rem auto;
  width: 30rem;
}

main > section:not(:last-child) {
  margin-bottom: 1rem;
}

.h h1,
h2,
h3,
h4,
h5,
h6,
.w h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex-shrink: 0;
  outline: 2px solid var(--gron6);
}

.h > article {
  display: flex;
  flex-shrink: 0;
  height: 2rem;
}

.h > article > h1 {
  background: var(--gold3);
  display: block;
  font-size: 24pt;
  line-height: 2rem;
  position: relative;
  text-align: center;
  width: 29rem;
}

.h > article > h1::after {
  background: var(--gold2);
  content: '';
  outline: 2px solid var(--gron6);
  position: absolute;
  bottom: 0;
  top: 0;
  right: -1rem;
  width: 1rem;
}

.w > article {
  display: flex;
  flex-shrink: 0;
  height: 2rem;
  line-height: 2rem;
}
.w > article > h1 {
  background: var(--gron2);
  display: block;
  font-size: 24pt;
  margin-right: 2rem;
  order: 1;
  position: relative;
  text-align: center;
  width: 5rem;
}
.w > article > h2 {
  background: var(--gron2);
  display: block;
  order: 3;
  padding: 0 0.5rem;
  width: 19rem;
}
.w > article > h3 {
  background: var(--gron2);
  display: block;
  order: 2;
  width: 1rem;
}
.w > article > h4 {
  background: var(--gron2);
  display: block;
  order: 4;
  position: relative;
  width: 2rem;
}

.w > article > :is(h1, h4)::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1rem;
  top: 0px;
  width: 1rem;
}

.w > article:nth-child(6n + 1) > :is(h1, h3),
.w > article:nth-child(6n + 2) > :is(h1, h3),
.w > article:nth-child(6n + 3) > :is(h1, h3) {
  background: var(--gron2);
}
.w > article:nth-child(6n + 4) > :is(h1, h3),
.w > article:nth-child(6n + 5) > :is(h1, h3),
.w > article:nth-child(6n + 6) > :is(h1, h3) {
  background: var(--cyan2);
}
.w > article:nth-child(6n + 1) > :is(h2, h4),
.w > article:nth-child(6n + 2) > :is(h2, h4),
.w > article:nth-child(6n + 3) > :is(h2, h4) {
  background: var(--gron2);
}
.w > article:nth-child(6n + 4) > :is(h2, h4),
.w > article:nth-child(6n + 5) > :is(h2, h4),
.w > article:nth-child(6n + 6) > :is(h2, h4) {
  background: var(--cyan2);
}

.w > article:nth-child(6n + 1) > h1::after,
.w > article:nth-child(6n + 2) > h1::after,
.w > article:nth-child(6n + 3) > h1::after {
  background: var(--gron3);
  content: '';
  outline: 2px solid var(--gron6);
}
.w > article:nth-child(6n + 4) > h1::after,
.w > article:nth-child(6n + 5) > h1::after,
.w > article:nth-child(6n + 6) > h1::after {
  background: var(--cyan3);
  content: '';
  outline: 2px solid var(--cyan6);
}
.w > article:nth-child(6n + 1) > h4::after,
.w > article:nth-child(6n + 2) > h4::after,
.w > article:nth-child(6n + 3) > h4::after {
  background: var(--gron1);
  content: '';
  outline: 2px solid var(--gron6);
}
.w > article:nth-child(6n + 4) > h4::after,
.w > article:nth-child(6n + 5) > h4::after,
.w > article:nth-child(6n + 6) > h4::after {
  background: var(--cyan1);
  content: '';
  outline: 2px solid var(--cyan6);
}
