:root {
  --gron1: #d9ead3;
  --gron2: #b6d7a8;
  --gron3: #93c47d;
  --gron4: #61a25e;
  --gron5: #38761d;
  --gron6: #245028;
  --cyan1: #d0e0e3;
  --cyan2: #a2c4c9;
  --cyan3: #76a5af;
  --cyan4: #3f7e97;
  --cyan5: #134f5c;
  --cyan6: #0c394e;
  --gold1: #fff2cc;
  --gold2: #ffe599;
  --gold3: #ffd966;
  --gold4: #f1c232;
  --gold5: #bf9000;
  --gold6: #7f6000;
  --blue1: #c9daf8;
  --blue2: #a4c2f4;
  --blue3: #6d9eeb;
  --blue4: #3c78d8;
  --blue5: #1155cc;
  --blue6: #1c4587;
}
